<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> v-for </title>
</head>
<body>
        <div id="multi"> 
            <ul>
                <li v-for='skill in skills'>
                    {{ skill  }}
                </li>
            </ul>
            <ul>
                <li v-for='(skill , index ) in skills'>
                    {{ index + 1 }} =>  {{ skill  }}
                </li>
            </ul>
            <ul>
                <li v-for='( test , index ) in Tests'>
                    {{ index + 1 }} => {{ test.tstname  }} || {{ test.degree }}
                </li>
            </ul>
        </div>

    <script src="vue.js"></script>
    <script>
        var ve = new Vue ({

            el: '#multi' ,
            data: 
            {
                name: 'Osama' ,
                age: 23 ,
                skills: ['HTML5' , 'Css' , 'Vue.js'] , 
                isSubscribe : false ,
                Tests: 
                [
                    {
                        tstname: 'HTML' , 
                        degree: 80 
                    } , 
                    {
                        tstname: 'Css' , 
                        degree: 70 
                    } , 
                    {
                        tstname: 'Vue.js' , 
                        degree: 90 
                    } 
                ]
            }
        })
    </script>
</body>
</html>